@model SIBA_WEB.Models.Alumno

@{
    ViewData["Title"] = "Details";
}



<div class="clearfix">
    <div style="float:left;">
        <h2>Perfil</h2>
    </div>
    <div style="float:right; color:green;">
        <h2>
            @Html.DisplayNameFor(model => model.Status) : @Html.DisplayFor(model => model.Status)
        </h2> 
    </div>
    

</div>

<div>
    <h4>Alumno</h4>
    <hr />
    <dl class="dl-horizontal tamanio" style="font-size:20px;">
        <dt>
            @Html.DisplayNameFor(model => model.NoControl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NoControl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Semester)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Semester)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CanCreateToken)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CanCreateToken)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
</div>

